h1{
    color:red;
    font-size: 50px;
}
h2{
    color:seagreen;
}
h1,h2{
    color: purple;
}
.food{
    color: orange;
}
li {
    color:blue;
}
body {
    background-color:rgb(0, 217, 255);
    }
body {
    padding: 0px 50px 50px 50px;
}
img {
    width: 400px;
}
body {
    border-style: double;
}
h1 {
    text-shadow: 1px 1px 1px black;
}
.rotate {
    animation: rotation 2s infinite linear;
}